<article>
    <h2>{{name}}</h2>
    <p>CSS framework: {{description}}</p>
    <p>Old name: {{old-name}}</p>
    <a href="{{ url | url }}"><img src="{{ screenshot | url }}" alt="Screenshot"></a>
    <p><a href="{{ github | url }}">GitHub</a></p>
</article>