<article>
    <h2>{{name}}</h2>
    <p>CSS framework: {{description}}</p>
    <p>Old name: {{old-name}}</p>
    <a href="/{{url}}"><img src="/assets/images/{{screenshot}}" alt="Screenshot"></a>
    <p><a href="{{github}}">GitHub</a> | <a href="{{netlify}}">Netlify</a></p>
</article>