---
import {SITE} from '../config.ts'
import MainHeader from '../components/mainHeader.astro'
import MainNav from '../components/mainNav2.astro'
import '../styles/global.css'
const { content } = Astro.props
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{content.title} | {SITE.title}</title>
	<meta name="description" content={SITE.description}>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<div id="wrapper">
		<MainHeader content={content} />
		<MainNav content={content} />
		<main>
				<slot />
		</main>
		<footer>
			<p>{SITE.footer}</p>
		</footer>
	</div>
</body>
</html>

<style>
	body {
		@apply bg-slate-100
	}
	#wrapper {
		@apply max-w-7xl md:w-5/6 mx-auto bg-white flex flex-col min-h-screen
	}
	main {
		@apply p-12 flex-grow flex flex-col md:flex-row
	}
	footer {
		@apply p-5 bg-slate-50 text-sm md:text-base
	}
</style>